In [1]:
import numpy as np
# from scipy.optimize import minimize
# from scipy.integrate import quad
import pandas as pd
import os

##### create fake data

In [55]:
N_obs = 1000
X_dim = 20
noise_size = 4
X= np.random.randn(N_obs, X_dim)
true_coeffs = np.array([0.8, 0.6, 0.3, 0, 
                        0, 0, 0, 0, 
                        0.9, 0.5, 0, 0.2, 
                        0, 0, 0, 0, 
                        -0.6, 0.1, 0, 0])
Y = np.dot(X, true_coeffs) + noise_size*np.random.randn(N_obs)
print(X.shape, Y.shape)

(1000, 20) (1000,)

##### define a set of inter-dependant wide sense stationary time series

In [69]:
# Set random seed for reproducibility
np.random.seed(42)
K = 5
# Number of observations (N) and number of time series (K)
N = 100
noise = 1
obs_noise = 1
# Create a DataFrame to store the time series data
data = pd.DataFrame(index=range(N))

# Generate time series data for X1
data['X1'] = 0.0  # Initialize X1 with zeros
data['X2'] = 0.0  # Initialize X1 with zeros
data['X3'] = 0.0  # Initialize X1 with zeros
data['X4'] = 0.0  # Initialize X1 with zeros
data['X5'] = 0.0  # Initialize X1 with zeros

for t in range(2, N):
    data.at[t, 'X1'] = 0.8 * data.at[t-1, 'X1']  + noise*np.random.normal()
    data.at[t, 'X2'] = 0.6 * data.at[t-1, 'X2'] +0.3 * data.at[t-2, 'X2'] +noise* np.random.normal()
    data.at[t, 'X3'] = 0.6 * data.at[t-1, 'X3']  +0.4 * data.at[t-1, 'X2']  +0.2* data.at[t-2, 'X2'] + noise* np.random.normal()
    data.at[t, 'X4'] = 0.7 * data.at[t-1, 'X4']  +0.6 * data.at[t-1, 'X2']  +0.2* data.at[t-1, 'X1'] + noise*np.random.normal()
    data.at[t, 'X5'] = 0.9 * data.at[t-1, 'X5']  +0.6 * data.at[t-1, 'X3']  +0.2* data.at[t-2, 'X3'] + noise*np.random.normal()
# # Generate random time series data for X2, X3, X4, X5
# for i in range(2, K + 1):
#     data[f'X{i}'] = np.random.normal(size=N)
noisy_vals = data.values + obs_noise * np.random.normal(size = (N, K))
df = pd.DataFrame(data = noisy_vals, columns = data.columns)
# Display the generated time series data
#print(data.head())


display(data.head(), df.head())
MainPath = os.path.normpath(os.getcwd() + os.sep + os.pardir)
DataPath = str(MainPath) + "\\Data\\"
print(DataPath)
df.to_csv(DataPath  +"simulate_noise_"+str(noise)+"_obs_noise_"+str(obs_noise)+"_"+str(N)+".csv")

         X1        X2        X3        X4        X5
0  0.000000  0.000000  0.000000  0.000000  0.000000
1  0.000000  0.000000  0.000000  0.000000  0.000000
2  0.496714 -0.138264  0.647689  1.523030 -0.234153
3  0.163234  1.496254  1.100742  0.613031  0.720435
4 -0.332830  0.390543  1.473256 -0.553759 -0.286543

         X1        X2        X3        X4        X5
0 -0.007973  1.479944  0.077368 -0.861284  1.523124
1  0.538910 -1.037246 -0.190339 -0.875618 -1.382800
2  1.422892  1.771152 -0.750879  2.085999 -0.884796
3 -0.323891  0.903860  0.236751  0.661552 -0.110515
4 -0.062373  0.340305  1.234308 -1.461323 -0.863315

C:\Users\Owner\Desktop\Projects\Research\GrangerCausality\Data\

In [57]:
data["X1"]

2      0.496714
3      0.163234
4     -0.332830
5     -0.828552
6      0.802807
         ...
195    1.541834
196    1.361572
197   -0.800283
198    0.145573
199   -1.041906
Name: X1, Length: 198, dtype: float64